adapters/nodeRed/.node-red/flows_Jonathans-MacBook-Pro-2.local.json
[{"type":"tab","id":"6695580e.996aa8","label":"Flow 1"},{"id":"a31075ea.5cef88","type":"text-rpg-load-dropbox","z":"6695580e.996aa8","name":"","x":77.5,"y":40,"wires":[["2cc4e25f.d33b1e"]]},{"id":"3b293362.c4d6cc","type":"text-rpg-game","z":"6695580e.996aa8","name":"","x":790,"y":160,"wires":[["96ac52d7.6953b"],["cb57b8ce.34a848"]]},{"id":"96ac52d7.6953b","type":"text-rpg-save-cloudant","z":"6695580e.996aa8","name":"","x":969.5,"y":39,"wires":[]},{"id":"d23a38a0.2dc5c8","type":"text-rpg-load-cloudant","z":"6695580e.996aa8","name":"","x":77.5,"y":100,"wires":[["7278c8c8.8d8738"]]},{"id":"cb57b8ce.34a848","type":"debug","z":"6695580e.996aa8","name":"","active":true,"console":"false","complete":"true","x":959.5,"y":219,"wires":[]},{"id":"a44f0eca.5bb0f","type":"function","z":"6695580e.996aa8","name":"user input","func":"msg.topic = 'USER_INPUT'\nreturn msg;","outputs":1,"noerr":0,"x":569.5,"y":159,"wires":[["3b293362.c4d6cc","d98572f.f267a9"]]},{"id":"7278c8c8.8d8738","type":"function","z":"6695580e.996aa8","name":"load data","func":"msg.topic = 'LOAD_DATA';\nreturn msg;","outputs":1,"noerr":0,"x":569.5,"y":99,"wires":[["3b293362.c4d6cc"]]},{"id":"2cc4e25f.d33b1e","type":"function","z":"6695580e.996aa8","name":"game data","func":"msg.topic = 'GAME_DATA';\nreturn msg;","outputs":1,"noerr":0,"x":579.5,"y":39,"wires":[["3b293362.c4d6cc"]]},{"id":"8884f113.777b1","type":"http in","z":"6695580e.996aa8","name":"input","url":"/input","method":"get","swaggerDoc":"","x":70,"y":160,"wires":[["a366b62f.5c9948","fe9bbf12.01644"]]},{"id":"da67e9d6.259818","type":"function","z":"6695580e.996aa8","name":"decode","func":"var newmsg = {payload: { userObj: {}}};\nnewmsg.payload.text = msg.payload.text || '';\nnewmsg.payload.userObj._id = msg.payload.userid || '';\nnewmsg.payload.userObj.description = msg.payload.userdescription || '';\nnewmsg.payload.userObj.name = msg.payload.username || '';\nnewmsg.payload.userObj.isAdmin = msg.payload.admin ? true : false;\nreturn newmsg;","outputs":1,"noerr":0,"x":389.5,"y":159,"wires":[["a44f0eca.5bb0f","1d915a75.e26ea6"]]},{"id":"d98572f.f267a9","type":"debug","z":"6695580e.996aa8","name":"","active":true,"console":"false","complete":"true","x":790,"y":220,"wires":[]},{"id":"a366b62f.5c9948","type":"debug","z":"6695580e.996aa8","name":"","active":true,"console":"false","complete":"true","x":210,"y":220,"wires":[]},{"id":"1d915a75.e26ea6","type":"debug","z":"6695580e.996aa8","name":"","active":true,"console":"false","complete":"true","x":559.5,"y":219,"wires":[]},{"id":"874250c2.78bdb","type":"http response","z":"6695580e.996aa8","name":"input close","x":399.5,"y":219,"wires":[]},{"id":"fe9bbf12.01644","type":"function","z":"6695580e.996aa8","name":"validate","func":"// text, userid, and username are required\n// admin and userdescription are optional\nif (!msg.payload.text || !msg.payload.userid || !msg.payload.username) {\n  msg.req.status = 400;\n}\nreturn msg;","outputs":"1","noerr":0,"x":220,"y":160,"wires":[["da67e9d6.259818","874250c2.78bdb"]]}]